html,
body {
  height: 100%;
  font-size: 16px;
}

img,
svg {
  max-width: 100%;
  vertical-align: middle;
}

.sidebar {
  // 544 comes from Primer’s sm breakpoint
  @media screen and (min-width: 544px) {
    flex-basis: 22rem;
  }
}

// Override Primer’s green primary button
.btn-primary {
  --color-btn-primary-bg: var(--color-accent-emphasis);
  --color-btn-primary-hover-bg: #0F5FBD;
  --color-btn-primary-selected-bg: #0D53A5;
}

.button--disabled {
	opacity:        0.5;
	pointer-events: none;
}

.input--disabled {
	opacity: 0.5;
	pointer-events: none;
}

.js-copy-confirmation {
  transition: all 0.2s ease-in-out;
  bottom: 0 !important;

  &.v-hidden {
    bottom: -1.5rem !important;
  }
}
