.button,
.tito-tickets-button {
	background:     $accent;
	border: 		0;
	border-radius:  0.125rem;
	color:          $white;
	font-family:    $sans-bold;
	font-size:      $size2;
	font-weight:    700;
	height: 		3.0rem;
	line-height:    1.0;
	margin-bottom:  1.0rem;
	outline: 		0;
	padding:        0.5rem 1.0rem;
	text-transform: uppercase;
	-webkit-transition:     $link-transition;
	transition:     $link-transition;
	width:          100%;

	&:hover {
		background: $accent-hover;
	}
}

.tito-tickets-button {
	margin: 0 1.0rem 1.0rem;
	width:  calc(100% - 2.0rem);
}