$white:  #fff;

$dark: 	 #283438;
$medium: #93999B;
$light:  #f4f5f5;

$accent: 	   #f05a45;
$accent-hover: #d7503d;

$error:  #red;

$line-circle: 		#FFD300;
$line-h-and-c: 		#F3A9BB;
$line-metropolitan: #9B0056;
$line-northern:     #000;