.logo {
	margin-top: 0;

	@media (max-width: 767px) {
		margin-top: 2.0rem;
	}
}

h1 {
	margin-top: 0;

	@media (max-width: 767px) {
		margin-top: 0.5rem;
	}
}

p.meta {
	font-family: $sans-bold;
	margin-top:    0.25rem;
	margin-bottom: 2.5rem;
}

p.intro {
	margin-bottom: 3.5rem;

	@media (max-width: 767px) {
		margin-bottom: 3.5rem;
	}
}