html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  max-width: 100%;
}

.sidebar {
  flex-basis: 20rem;
  flex-shrink: 0;
  overflow-y: auto;
}

.preview {
  display: grid;
  flex: 1;
  place-items: center;
}

.preview-image img {
  max-width: 100%;
  max-height: 100%;
}
