.panel {
	background:    $white;
	/* border:        0.0625rem solid lighten($medium, 20%); */
	border-radius: 0.25rem;
	padding:       1.0rem;
}

h2 {
	color:          $medium;
	font-size:      $font-size-sm;
	font-weight:    $font-weight-bold;
	margin-bottom:  0.75rem;
	text-transform: uppercase;
}

hr {
	background: $light;
	border:     none;
	height:     0.0625rem;
	margin:     1.0rem 0;
}

fieldset {
	border:  0;
	margin:  0;
	padding: 0;
}

.panel--input {

}

.panel--output {
	margin-bottom: 2.0rem;

	@media only screen and (max-width: 767px) {
		margin-top: 2.0rem;
	}
}