.colour-swap {
	color:  $medium;
	cursor: pointer;
	display: inline-block;
	height: 0.875rem;
	transition: $transition-all-short;

	&:hover {
		color: $black;
	}

	&:active {
		color: $warning;
	}

	svg {
		pointer-events: none;
		position: relative;
		top: -0.25rem;
	}
}
