.button {
	background:    $accent;
	border: 	   0;
	border-radius: 0.125rem;
	color:         $white;
	line-height:   1.0;
	margin-right:  0.75rem;
	outline:       0;
	padding:       0.5rem 0.75rem;

	&:hover {
		background: darken($accent, 20%);
	}

	&:active {
		background: $accent;
	}
}

.button--reset {
	background: $warning;

	&:hover {
		background: darken($warning, 20%);
	}

	&:active {
		background: $warning;
	}
}

.button--disabled {
	opacity:        0.25;
	pointer-events: none;
}