.button {
	background:     #fff;
	border: 	      1px solid $light;
	border-radius:  0.1875rem;
	box-shadow:     0 4px 2px -3px rgba(0,0,0,0.1);
	color:          $black;
	font-size:      $font-size-sm;
	font-weight:    $font-weight-bold;
	line-height:    1.0;
	line-height:    1.0;
	margin-right:   0.75rem;
	outline:        0;
	padding:        0.5rem 0.75rem;
	position:       relative;
	text-transform: uppercase;
	transition:     $transition-all-short;

	&:hover {
		/* background:   $accent; */
		/* border-color: $accent; */
		/* color:        $white; */

		background:   $light;
	}

	&:active {
		background:   darken($accent, 20%);
		border-color: darken($accent, 20%);
	}
}

.button--preview {
	&:hover {
		.eye__inner {
			left: 0.375rem;
		}
	}
}

.button--copy {
	position: relative;

	&::after {
		background:     $success;
		border-radius:  0.125rem;
		color:          $white;
		content:        'Copied';
		opacity:        0;
		padding:        0.5rem;
		pointer-events: none;
		position:       absolute;
		transition:     $transition-all-medium;
		left:   0;
		right:  0;
		top:    0;
		bottom: 0;
	}

	&.button--copied {
		border-color: $success;

		&::after {
			opacity: 1;
		}
	}
}

.button--reset {
	color: $warning;

	&:hover {
		background:   $warning;
		border-color: $warning;
		color:        $white;

		.reset {
			animation: resetSpin 0.4s;
		}
	}

	&:active {
		background:   darken($warning, 20%);
		border-color: darken($warning, 20%);
	}
}

.button--disabled {
	opacity:        0.25;
	pointer-events: none;
}


.button__text {

}

.button__icon	{
	display: inline-block;
	height: 0.875rem;
	position: relative;
}

.eye__outer {
	position: relative;
	top:      -0.0625rem;
}

.eye__inner {
	position:   absolute;
	top:        0.1875rem;
	left:       0.25rem;
	transition: $transition-all-short;
}

.reset {
	position: relative;
	top: -0.0625rem;
}

@keyframes resetSpin {
	0%   { transform: rotate(    0deg ) }
	100% { transform: rotate( -360deg ) }
}