.button {
	background:    $accent;
	border: 	   0;
	border-radius: 0.125rem;
	color:         $white;
	line-height:   1.0;
	margin-right:  0.75rem;
	outline:       0;
	padding:       0.5rem 0.75rem;

	&:hover {
		background: darken($accent, 20%);
	}

	&:active {
		background: $accent;
	}
}

.button--copy {
	position: relative;

	&::after {
		background:     $success;
		border-radius:  0.125rem;
		content:        'Copied';
		opacity:        0;
		padding:        0.5rem;
		pointer-events: none;
		position:       absolute;
		transition:     $transition-all-medium;
		left:   0;
		right:  0;
		top:    0;
		bottom: 0;
	}

	&.button--copied {
		&::after {
			opacity: 1;
		}
	}
}

.button--reset {
	background: $warning;

	&:hover {
		background: darken($warning, 20%);
	}

	&:active {
		background: $warning;
	}
}

.button--disabled {
	opacity:        0.25;
	pointer-events: none;
}