.preview-image {
	
	display: inline-block;
	position: relative;
	
/* 	cursor: pointer;

	.preview__overlay {
		background: red;
		display:    block;
		height:     100%;
		opacity:    0;
		position:   absolute;
		width:      100%;
	}

	&:hover .preview__overlay {
		opacity: 0.5;
	} */
}