input {
	border:        0.0625rem solid lighten($medium, 20%);
	border-radius: 0.25rem;
	padding:       0.25rem 0.375rem;
}

.input--disabled {
	opacity:        0.25;
	pointer-events: none;
}

fieldset {

	label {
		white-space: nowrap;
	}

	label:not(:first-of-type) {
		margin-left: 0.25rem;
	}

	input {
		position: relative;
		top:      -0.125rem;
	}
}

#input-string {
	margin-top: 0.5rem;
	width:      100%;
}

.split {
	align-items: center;
	display: flex;
	justify-content: space-between;

	input {
		width: 50%;
	}
}

.split + .split {
	margin-top: 0.5rem;
}