input {
	border:        0.0625rem solid $light;
	border-radius: 0.25rem;
	padding:       0.25rem 0.375rem;
}

#input-string {
	margin-top: 0.5rem;
	width:      100%;
}

.split {
	align-items: center;
	display: flex;
	justify-content: space-between;

	input {
		width: 50%;
	}
}

.split + .split {
	margin-top: 0.5rem;
}