html {
    height:     100%;
    background: $light;
    font-size:  16px;
}

body {
    margin: 0 auto;
    width:  100%;
}

::-moz-selection {
    background:  $black;
    color:       $white;
    text-shadow: none;
}

::selection {
    background:  $black;
    color:       $white;
    text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

img {
    max-width: 100%;
}