.input--disabled {
	opacity:        0.25;
	pointer-events: none;
}

#input-string {
	margin-top: 0.5rem;
	width:      100%;
}

.split {
	align-items: center;
	display: flex;
	justify-content: space-between;

	input {
		width: 50%;
	}
}

.split + .split {
	margin-top: 0.5rem;
}
