.input--disabled {
	opacity:        0.25;
	pointer-events: none;
}

#input-string {
	width:      100%;
}

.split {
	align-items: center;
	display: flex;
	justify-content: space-between;

	input {
		width: 50%;
	}
}
