.benefits {
	background:     $dark;
	color:          $white;
	padding-top:    8.0rem;
	padding-bottom: 8.0rem;

	@media (max-width: 767px) {
		padding-top:    4.0rem;
		padding-bottom: 4.0rem;
	}

	h2 {
		color:          $white;
		font-family:    $black;
		font-size:      $size4;
		font-weight:    400;
		margin-bottom:  2.0rem;
		text-transform: uppercase;
	}

	h3 {
		color: 			$accent;
		font-family:    $black;
		font-size:      $size3;
		font-weight:    400;
		line-height:    1.0;
		margin-bottom:  0.5rem;
		text-transform: uppercase;
	}

	p {
		line-height:   1.5;
		margin-bottom: 2.0rem;
	}
}