.bio {
	background: 	$white;
	padding-top:    11.625rem;
	padding-bottom: 8.0rem;

	@media (max-width: 767px) {
		padding-top:    7.625rem;
		padding-bottom: 4.0rem;
	}

	h1 {
		color:          $dark;
		font-family:    $black;
		font-size:      $size8;
		font-weight:    400;
		line-height:    0.85;
		text-transform: uppercase;

		@media (max-width: 991px) {
			margin-top: 2.0rem;
		}

		@media (max-width: 767px) {
			font-size: $size7;
		}

		@media (max-width: 360px) {
			font-size: $size6;
		}
	}
}

.bio__row {
	@media (min-width: 992px) {
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		display:     -webkit-box;
		display:     -ms-flexbox;
		display:     flex;
	}
}

.bio__headshot {
	border-radius: 0.25rem;
}

.bio__title {
	font-size:   $size4;
	line-height: 1.0;
	margin:      1.0rem 0 2.0rem;
}

.bio__copy {
	font-size:   $size2;
	line-height: 1.5;

	p {
		margin-bottom: 1.0rem;
		
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}