.directions {
	background:     $light;
	padding-top:    8.0rem;
	padding-bottom: 8.0rem;

	@media (max-width: 991px) {
		padding-top:    4.0rem;
		padding-bottom: 4.0rem;
	}

	p {
		font-size:   $size2;
		line-height: 1.5;
		margin-top:  1.0rem;
	}

	ul {
		display:      inline-block;
		margin:       0;
		margin-left:  1.0rem;

		&:first-of-type {
			margin-top: 0.5rem;
		}
	}

	li {
		font-size:   $size2;
		line-height: 1.5;
	}
}

.directions__row {

	@media (min-width: 992px) {
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		display:     -webkit-box;
		display:     -ms-flexbox;
		display:     flex;
	}
}

.directions__photo img {
	border-radius: 0.25rem;
}

.transport__icons {
	img {
		margin-right: 0.25rem;
	}

	@media (max-width: 991px) {
		margin-top: 2.0rem;
	}
}

.line {
	border-radius: 0.25rem;
	padding:       0 0.125rem;
}

.line--circle {
	background: $line-circle;
}

.line--h-and-c {
	background: $line-h-and-c;
}

.line--metropolitan {
	background: $line-metropolitan;
	color: 		$white;
}

.line--northern {
	background: $line-northern;
	color: 		$white;
}

.directions__links {
	font-family: $sans-bold;
	font-weight: 700;
	margin-top:  2.0rem;

	a {
		margin-left: 0.75rem;

		&:hover {
			position: relative;
			top:      -0.125rem;
		}
	}

	a:last-of-type {
		position: relative;
		top:      -0.125rem;

		&:hover {
			top:      -0.25rem;
		}
	}
}