header {
	margin: 2.0rem 0;
}

h1 {
	display:   inline-block;
	font-size: 1.0rem;
}

h1 + span {
	margin-left: 0.25rem;
}

.header {
	color:   $white;
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 499px) {
	.header__left {
		span {
			display:     block;
			margin-left: 0;
			margin-top:  0.25rem;
		}
	}	
}

.header__right {
	text-align: right;

	a {
		color: $medium;
		text-decoration: none;

		&:hover {
			color: $light;
		}
	}
}