.info {
	background: 	$white;
	padding-top:    4.0rem;
	padding-bottom: 4.0rem;

	h1 {
		color:          $dark;
		font-family:    $black;
		font-size:      $size6;
		font-weight:    700;
		line-height:    1.0;
		margin-bottom:  1.15rem;
		text-transform: uppercase;
	}

	h2 {
		font-family:    $serif;
		font-size:      $size5;
		font-weight:    700;
		line-height:    0.85;
		margin-top:     2.0rem;
		margin-bottom:  1.0rem;
	}

	p {
		font-size:     $size3;
		line-height:   1.7;
		margin-bottom: 1.0rem;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	a {
		color: 		$dark;
		-webkit-transition: 	$transition-short;
		transition: $transition-short;

		&:hover {
			color: $accent;
		}
	}
}

.info__fine-print {
	color:       $medium;
	font-size:   $size1 !important;
	line-height: 1.5 !important;

	a {
		color: 		$medium;
		-webkit-transition: 	$transition-short;
		transition: $transition-short;

		&:hover {
			color: $dark;
		}
	}
}